/* CONFIGURACIONES GENERALES */
nav ul {
    display: flex;
    list-style: none;
}

ul li {margin: 5px;}
.imgs img {justify-self: center;}
.marcas li {justify-self: center;}
.bgColor {background-color: lightcoral;}
.border {border: solid 1px;}

form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}

.inputText {height: 160px;}

/* DECLARACION DE ITEMS PARA GRIDS */
.minCompra {
    grid-area: minCompra;
    text-align: center;
}
.logo {grid-area: logo;}

nav {grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner {
    grid-area: banner;
    text-align: center;
}

.categorias {
    grid-area: categorias;
    display: flex;
    justify-content: center;
}

.marcasTitulo {
    grid-area: title;
    display: flex;
    justify-content: center;
}

.gridMarcas {grid-area: gridMarcas;}

.mapa {
    grid-area: mapa;
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
}

.mapa iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.datos1 {
    list-style: none;
    text-align: center;
    grid-area: datos1;
    padding-inline-start: 0px;
}

.datos2 {
    list-style: none;
    text-align: center;
    grid-area: datos2;
    padding-inline-start: 0px;
}

.input {
    grid-area: input;
    text-align: center;
}

/* ITEMS GRIDS NOSOTROS */
.gridMainNosotros {grid-area: gridMainNosotros;}
.pMainNosotros {grid-area: pMainNosotros;}
.imgMainNosotros {grid-area: imgMainNosotros;}

/* "ITEMS GRIDS CATALOGO */
.gridMainCatalogo {grid-area: gridMainCatalogo;}
.gridMainCatalogo h1 {grid-area: h1Catalogo;}
.gridMainCatalogo p {grid-area: pCatalogo;}
.gridMainCatalogo h2 {grid-area: h2Catalogo;}
.gridMainCatalogo a {grid-area: linkCatalogo;}

/* ITEMS GRIDS CONTACTO */
.gridMainContacto {
    grid-area: gridMainContacto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "contacto contacto"
    "infoContacto formulario";
}

.contacto {grid-area: contacto;}
.infoContacto {grid-area: infoContacto;}
.foromulario {grid-area: formulario;}

/* ITEMS GRIDS DUDAS */
.imgEnvios,.imgPagos,.imgPedidos {display: flex; justify-self: center;}
.gridMainDudas h1 {grid-area: dudas;}
.dudasEnvios {grid-area: envios;}
.pEnvios {grid-area: pEnvios;}
.imgEnvios {grid-area: imgEnvios;}
.dudasPagos {grid-area: pagos;}
.pPagos {grid-area: pPagos;}
.imgPagos {grid-area: imgPagos;}
.dudasPedidos {grid-area: pedidos;}
.pPedidos {grid-area: pPedidos;}
.imgPedidos {grid-area: imgPedidos;}

/* GRIDS INDEX*/
.gridBodyIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "minCompra minCompra minCompra"
    "logo nav nav";
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "banner banner"
    "imgs imgs"
    "title title"
    "gridMarcas gridMarcas"
    ;
}

.imgs {
    grid-area: imgs;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, auto);
    ;
}

.marcas {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, auto);
    padding-inline-start: 0px
    ;
}

.gridFooter {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "mapa datos1 datos2"
    "mapa input input";
}

/* GRIDS NOSOTROS */
.gridBodyNosotros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "header"
    "gridMainNosotros"
    "footer";
}

.gridMainNosotros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "h1MainNosotros"
    "pMainNosotros"
    "imgMainNosotros" ;
}

/* GRIDS CATALOGO */
.gridBodyCatalogo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "header"
    "gridMainCatalogo"
    "footer";
}

.gridMainCatalogo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "h1Catalogo"
    "pCatalogo"
    "h2Catalogo"
    "linkCatalogo";
}

/* GRIDS CONTACTO */
.gridBodyContacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "header"
    "gridMainContacto"
    "footer";
}

/* GRIDS DUDAS */
.gridMainDudas {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
    "dudas dudas"
    "envios envios"
    "pEnvios imgEnvios"
    "pagos pagos"
    "pPagos imgPagos"
    "pedidos pedidos"
    "pPedidos imgPedidos";
}

/* MEDIA QUERIES MOBILE */
@media screen and (max-width: 768px) {    
    /* MEDIA QUERIES INDEX */
    .gridBodyIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "mobileHeader"
    "mobileMain"
    "mobileFooter";
    }

    header {
    grid-area: mobileHeader;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "minCompra minCompra"
    "logo nav";
    }

    main {grid-area: mobileMain;}

    .gridFooter {
        grid-area: mobileFooter;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "mapa"
        "datos1"
        "datos2"
        "input";
    }

    .datos1 {
        list-style: none;
        text-align: center;
        grid-area: datos1;
        padding-inline-start: 0px;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
    
    .datos2 {
        list-style: none;
        text-align: center;
        grid-area: datos2;
        padding-inline-start: 0px;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    /* MEDIA QUERIES NOSOTROS */
    .gridBodyNosotros {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "mobileHeader"
        "mobileMainNosotros"
        "mobileFooter";
    }
    
    .gridMainNosotros {grid-area: mobileMainNosotros}

    /* MEDIA QUERIES CATALOGO */
    .gridBodyCatalogo {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "mobileHeader"
        "mobileMainCatalogo"
        "mobileFooter";
    }

    .gridMainCatalogo {grid-area: mobileMainCatalogo;}

    /* MEDIA QUERIES CONTACTO */
    .gridBodyContacto {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "mobileHeader"
        "mobileMainContacto"
        "mobileFooter";
    }

    .gridMainContacto {
        grid-area: mobileMainContacto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "contacto"
        "infoContacto"
        "formulario";
    }
    
    /* MEDIA QUERIES DUDAS */
    .gridMainDudas {
        text-align: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:repeat(10, auto);
        grid-template-areas:
        "dudas"
        "envios"
        "pEnvios"
        "imgEnvios"
        "pagos"
        "pPagos"
        "imgPagos"
        "pedidos"
        "pPedidos"
        "imgPedidos";
    }
}   